/*
aoi 
  background: #69D2E7;
  background: rgba(105, 210, 231, 1); 
pond {
  background: #A7DBD8;
  background: rgba(167, 219, 216, 1);
storm {
  background: #E0E4CC;
  background: rgba(224, 228, 204, 1);
goldfish {
  background: #F38630;
  background: rgba(243, 134, 48, 1);
pill 
  background: #FA6900;
  background: rgba(250, 105, 0, 1); 


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

global fixes on some things */


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}


/*Tables section also option "Helvetica Neue" instead of Verdana */

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 13px;
  line-height: 18px;
  font-weight: 200;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: rgba(105, 210, 231, .5);
}

h1 {
  font-family: Verdana, Helvetica, Arial;
  font-size: 15px;
  line-height: 50px;
  font-weight: 900;
  color: #FA6900;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 13px;
  line-height: 50px;
  font-weight: 700;
  color: #69D2E7;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  padding: 20px;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
}
.header_div {
  position: relative;
  margin-top: 20px;
  width: 800px;
  height: 350px;
  background: url(../images/header_image.png) no-repeat right;
}


@media only screen and (max-width: 500px) {
  .header_div {
    margin-top: 0;
    width: 500px;
    height: 219px;
    background: url(../images/header_image_m.png) no-repeat right;
  }

}

.table, .contact-section, .video, .gallery, .about {
  margin: 0 0 15px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
  display: table;
}
.about {
  position: relative;
}
.about a {
  font-family: Verdana, Helvetica, Arial;
  font-size: 15px;
  color: #FA6900;
  text-decoration: none;
}
.about a:hover {
  color: #69D2E7;
}
.shell {
  position: inline-block;
  width: 80%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.name {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.name p {
  color: #fff;
  font-size: 4em;
}

.contact-section, .gallery {
  padding: 5px;
}

.video {
  position: relative;
}

@media screen and (max-width: 400px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
}
.row:nth-of-type(odd) {
  background: #FED9BF;
}
.row.header {
  font-weight: 700;
  color: #ffffff;
  background: #F38630;
}
.row.pill {
  background: #FA6900;
}
.row.blue {
  background: #69D2E7;
}
@media screen and (max-width: 400px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}
.award {
  color: #FA6900;
  font-size: .75em;
}

/*                   Tabbing sections for resume section                 */

ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    ul.tabs li{
      background: none;
      color: #FA6900;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }
    ul.tabs li:hover {
      color: #69D2E7;
    }

    ul.tabs li.current{
      background: #eee;
      color: #000;
    }

    .tab-content{
      display: none;
      background: #eee;
      padding: 15px;
    }

    .tab-content.current{
      display: inherit;
    }


/* Footer */
footer {
  color: #aaa;
  font-size: .75em;
  text-align: right;
}

/* --------------------------------- Carousel of Videos*/
.frame {
  margin: 0 auto;
  width: 560px;
  /*height: 600px;*/
  position: relative;
  /*overflow: hidden;*/
}

.tray {
  /*width: 2400px; -- Because of JS, this is not needed */
  position: relative;
}

.slide {
  width: 560px;
  height: 315px;
  background-color: #fff;
  /*float: left;*/
}
.prev, .next {
  position: absolute;
  top: 49%;
  color: #a7dbd8;
  font-size: 2em;
  text-decoration: none;
  font-weight: 900;
}

.prev { left: 0;}
.next { right: 0;}

.prev:hover, .next:hover{
  color: #69d2e7;
}


/* /////// Contact Elements ///////// */
input, textarea {
  display: block;
  width: 98%;
  padding: 5px;
  margin-bottom: 2px;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
  border: 1px solid #ccc;
}

input[type="submit"] {
  margin-top: 2px;
  width: 90px;
  background: #69D2E7;
  color: white;
  border-radius: 5px;
  border: 0;
}

input[type="submit"]:hover {
  background: #A7DBD8;
}

input.error, textarea.error {
  border: 1px solid #FA6900;
}

span.error {
  display: none;
  color: #FA6900;
}

input.verify-box {
  display: inline-block;
  width: 78%;
  margin-right: 2%;
}

/* /////////////////////////LIGHTBOX ELEMENTS FOR THE GALLERY ///////////////////////////////////////*/
.gallery li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
}

/*#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rgba(167, 219, 216, .7); blue
  background:  rgba(243, 134, 48, .7); orange
  text-align: center;
  padding-top: 25px;
  z-index: 4;
}*/

#content {
  z-index: 4;
}
.close_x  {
  /*text-align: right;*/
  font-size: 3em;
  color: #fff;
  z-index: 4;
}

.close_x:hover {
  color: #FA6900;
}

/* TRYING OUT ANOTHER LIGHTBOX*/
#wrapper { 
  margin: 0 auto; 
  padding: 10px; 
  border-top: none; 
  text-align: left; 
}

#lightbox { 
  position: fixed; 
  text-align: center;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(243, 134, 48, .7);
  z-index: 4; 
}

#lightbox p { 
  text-align: right; 
  color: #fff; 
  margin-right: 20px; 
  font-size: 4em; 
}

#lightbox img { 
  max-width: 100%; 
  max-height: 100%;
}

#slideshow { 
  position: relative; 
  z-index: 100; 
  width: 600px; 
  height: 350px; 
  margin: 0 auto; 
  padding: 10px; 
}

#slideshow ul > li { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
  list-style: none; 
}

.nav { 
  display: none;
  text-align: center; 
}

.prev2, .next2 { 
  position: absolute; 
  top: 50%; 
  background: rgba(100, 100, 100, .7); 
  padding: .25em .5em; 
  color: #fff; 
  text-decoration: none; 
}

.next2 { 
  right: 10px; 
}

.prev2 { 
  left: 10px; 
}
